<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proj0905.Properties.Settings.BD0905ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Tecnico\2018\C#\2_Bimestre\Rubia\Aula0905\BD0905.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>