<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proj0108.Properties.Settings.BancoConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Tecnico\2018\C#\3_Bimestre\Banco.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>